@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.feed {
  border: 0.5rem solid red;
  height: 100%;
  background-color: rgb(42, 20, 43);
  color: white;
}
/* estilos sector input tweet */
.form {
  border: 0.2rem dotted purple;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 7, 20);
}
.textarea {
  width: 90%;
}
.inputTextarea {
  padding: 0.5rem;
  min-width: 100%;
  max-width: 100%;
  max-height: 15rem;
  min-height: 15rem;
  height: 15rem;
  background-color: rgb(42, 20, 43);
  color: white;
  outline: none;
  border: none;
}

.bar {
  background-color: rgb(99, 215, 128);
  height: 0.5rem;
  color: white;
  max-width: 100%;
}

.counters {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
  width: 90%;
}
.max {
  color: red;
}
.button {
  display: flex;
  width: 90%;
  justify-content: flex-end;

  /* border:5px solid red; */
}
.button button {
  height: 4rem;
  width: 10rem;
  border-style: none;
  background-color: rgb(55, 21, 55);
}
.button button:hover {
  background-color: rgb(70, 23, 70);
}
/* estilos sector tweets renderizados */
.tweets {
  border: 0.2rem dotted blue;
  font-size: 2rem;
}

.containerTweet {
  display: flex;
  border-top: 0.3rem solid rgb(89, 41, 88);
}


.dataTweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid orange;
}
.textTweet {
  height: 8rem;
}
.image {
  border-radius: 10rem;
  margin: 1rem;

}
.username {
  display: flex;
  align-items: center;
}
.username h6 {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  margin-right: 1rem;
}
.contentTweet {
  border: 2px solid rgb(153, 252, 126);
  width: 90%;
}
